<div id="enrolments" >

  <h2> Enrolled dogs for <%= @exhibition.name %></h2>
  <table id="pending_enrolments">
    <tr>
      <th colspan="5"> Pending for the Bank Receipt</th>
    </tr>
    <tr>
      <th>Dog</th>
      <th>Class</th>
      <th>Price</th>
    </tr>
    <!-- Los enrolments que faltan por pagar los puedo hayar mirand que no tengan payment_id -->
    <%# enrolments = []%>
    <% @enrolments.each do |enrolment| %>
        <tr>
          <%# enrolments << enrolment.id %>
          <td><%= Dog.find(enrolment.dog_id).name %></td>
          <td><%= enrolment.dog_class %></td>
          <td><%= number_with_precision(enrolment.price, :precision => 2) %> €</td>
          <td><%= link_to 'Remove', [@exhibition, enrolment], method: :delete, data: {confirm: 'Are you sure you want to remove this dog'} if !enrolment.payment_id%></td>
        </tr>
    <% end %>
    <td></td>
    <tr>
      <td colspan="3"></td>
      <td><%= number_with_precision(@enrolments_price, :precision => 2) %> €</td>
      <td>TOTAL</td>
    </tr>
    <td colspan="2"></td>
    <td colspan="3">
      <%= form_tag(new_payment_path, method: :get) do %>
          <%= hidden_field_tag :exhibition_id, @exhibition.id %>
          <%= submit_tag 'Upload the Bank Receipt' if @enrolments.any? %>
      <% end %>
    </td>
  </table>

  <table id="paid_enrolments">
    <tr>
      <th colspan="4"> Dogs Already Enrolled</th>
    </tr>
    <tr>
      <th>Dog</th>
      <th>Class</th>
      <th>Price</th>
    </tr>
    <% @paid_enrolments.each do |enrolment| %>
        <tr>
          <td><%= Dog.find(enrolment.dog_id).name %></td>
          <td><%= enrolment.dog_class %></td>
          <td><%= number_with_precision(enrolment.price, :precision => 2) %> €</td>
          <td><%= link_to 'Remove', [@exhibition, enrolment], method: :delete, data: {confirm: 'Are you sure you want to remove this dog'} if !enrolment.payment_id%></td>

        </tr>
    <% end %>
  </table>


  <%#= link_to "Create Payment", payments_path(:exhibition_id => @exhibition.id), :class => 'button', :method => :post %>
  <%#= button_to 'Upload the Bank Receipt', new_payment_path, :class => 'button', :method => :get  %>
  <%#= button_to 'Upload the Bank Receipt', new_enrolment_payment_path(@enrolments), :class => 'button', :method => :get  %>
</div>