<div id="no_enrolments" <% if @unpaid_enrolments.any? or @paid_enrolments.any?  %> style='display:none;' <% else %> style='display:block;' <% end %> >
  <h2> Enrolled dogs for <%= @exhibition.name %></h2>
  <p>You haven't dogs enrolled in this exhibition.</p>
</div>


<div id="show_enrolments" <% if @unpaid_enrolments.any? or @paid_enrolments.any?  %> style='display:block;' <% else %> style='display:none;' <% end %> >
  <h2> Enrolled dogs for <%= @exhibition.name %></h2>
  <table id="pending_enrolments", border = 1>
    <tr>
      <th colspan="5"> Pending for the Bank Receipt</th>
    </tr>
    <tr>
      <th>Dog</th>
      <th>Class</th>
      <th>Price</th>
    </tr>
    <% @unpaid_enrolments.each do |enrolment| %>
        <tr>
          <td><%= Dog.find(enrolment.dog_id).name %></td>
          <td><%= enrolment.dog_class %></td>
          <td><%= number_with_precision(enrolment.price, :precision => 2) %> €</td>
          <% if !@out_of_time %>
            <td><%= link_to 'Remove', [@exhibition, enrolment], method: :delete, data: {confirm: 'Are you sure you want to remove this dog'} %></td>
          <% end %>
        </tr>
    <% end %>
    <tr>

      <td colspan="3" align="right"><%= number_with_precision(@enrolments_price, :precision => 2) %> €</td>
      <td>TOTAL</td>
    </tr>
    <%  if @unpaid_enrolments.any? %>
        <td colspan="5" align="center">
          <%= form_tag(new_payment_path, method: :get) do %>
              <%= hidden_field_tag :exhibition_id, @exhibition.id %>
              <%= submit_tag 'Upload the Bank Receipt' %>
          <% end %>
        </td>
    <%end%>
  </table>

  <table id="paid_enrolments", border = 1>
    <thead>
        <tr>
          <th colspan="5"> Dogs Already Enrolled</th>
        </tr>
        <tr>
          <th>Dog</th>
          <th>Class</th>
          <th>Price</th>
          <th>Payment</th>
          <th>Status</th>
        </tr>
    </thead>
    <tbody>

        <% @paid_enrolments.each do |enrolment| %>
            <tr>
              <td><%= Dog.find(enrolment.dog_id).name %></td>
              <td><%= enrolment.dog_class %></td>
              <td><%= number_with_precision(enrolment.price, :precision => 2) %> €</td>

              <% if enrolment.payment_id and
                      Payment.find(enrolment.payment_id).receipt_url and
                      @enrolments_index.include? enrolment.id %>
                  <td rowspan=<%="#{enrolment.enrolments_with_same_payment}"%>, style="border: 1px inset"><%= link_to 'See Payment', payment_path(enrolment.payment_id, exhibition_id: @exhibition.id) %> </td>
                  <td rowspan=<%="#{enrolment.enrolments_with_same_payment}"%>, style="border: 1px inset"><%= Payment.find(enrolment.payment_id).status.humanize %> </td>
              <% end %>
            </tr>
        <% end %>
    </tbody>
  </table>

  <%#= link_to "Create Payment", payments_path(:exhibition_id => @exhibition.id), :class => 'button', :method => :post %>
  <%#= button_to 'Upload the Bank Receipt', new_payment_path, :class => 'button', :method => :get  %>
  <%#= button_to 'Upload the Bank Receipt', new_enrolment_payment_path(@enrolments), :class => 'button', :method => :get  %>
</div>

<div id="enrol_dog" >
  <p>
    <%= button_to 'Enroll a new dog', new_exhibition_enrolment_path(@exhibition, @enrolment), method: 'get'%>
  </p>
</div>