<%= form_for [@person] do |f|%>
    <% @person.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :date_of_birth %>
      <%= f.date_select(:date_of_birth, start_year: Date.today.year-90,
                        end_year: Date.today.year) %>
    </p>

    <p>
      <%= f.label :sex %>
      <%= f.select(:sex, options_for_select(%w[Male Female]), prompt: 'Select one...') %>
    </p>

    <p>
      <%= f.label :country %>
      <%= f.country_select(:country, nil, {prompt: 'Choose one...' }) %>
    </p>

    <%= f.submit %>
<% end %>