<%= form_for [@person, @dog] do |f|%>
    <% @dog.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <p>Select the breed</p>
    <div id="dogsBreeds">
      <%= select_tag :breed,
                     options_for_select(Breed.order('name ASC').all.map{|x| [x.name, x.id]}, @breed_form),
                     prompt: 'Select breed...'
      %>
    </div>

    <div id="dogsVarieties" <% if !Variety.where(breed_id: @breed_form).first %> style='display:none;' <% else %> style='display:block;' <% end %> >
      <%= select_tag :variety,
                     options_for_select(Variety.order('name ASC').where(breed_id: @breed_form).map{|x| [x.name, x.id]}, @variety_form),
                     prompt: 'Select variety...'
      %>
    </div>

    <div id="dogsSubvariety" <% if !Subvariety.where(variety_id: @variety_form).first %> style='display:none;' <% else %> style='display:block;' <% end %>>
      <%= select_tag :subvariety,
                     options_for_select(Subvariety.order('name ASC').where(variety_id: @variety_form).map{|x| [x.name, x.id]}, @subvariety_form),
                     prompt: 'Select subvariety...'
      %>
    </div>

    <p>
      <%= f.label :sire %>
      <%= f.text_field :sire %>
    </p>

    <p>
      <%= f.label :dam %>
      <%= f.text_field :dam %>
    </p>

    <p>
      <%= f.label :sex %>
      <%= f.select(:sex, options_for_select(%w[Male Female]), prompt: 'Select one...') %>
    </p>

    <p>
      <%= f.label :date_of_birth %>
      <%= f.date_select(:date_of_birth, start_year: Date.today.year-20,
                        end_year: Date.today.year) %>
    </p>

    <p>
      <%= f.label :titles %>
      <%= f.text_field :titles %>
    </p>

    <%= f.submit %>
<% end %>