<div id="dogs" >
  <h1>dogs#show. Find me in app/views/dogs/show.html.erb</h1>

  <h2><%= @dog.name %></h2>

  <ul>
    <li><%= link_to 'Edit Dog', edit_person_dog_path(@person, @dog) %></li>
    <li><%= link_to 'Delete Dog', [@person, @dog], method: :delete,
                    data: {confirm: 'Are you sure you want to delete this dog?'} %></li>

  </ul>

  <table id="dogs">
    <tr>
      <td>Sire:</td>
      <td><%= @dog.sire %></td>
    </tr>
    <tr>
      <td>Dam:</td>
      <td><%= @dog.dam %></td>
    </tr>
    <tr>
      <td>Date of birth:</td>
      <td><%= @dog.date_of_birth.strftime('%d/%m/%Y') %></td>
    </tr>
    <tr>
      <td>Sex:</td>
      <td><%= @dog.sex %></td>
    </tr>
    <tr>
      <td>Titles:</td>
      <td><%= @dog.titles %></td>
    </tr>
    <tr>
      <td>Breed:</td>
      <td><%= if @is_a_breed or @is_a_variety or @is_a_subvariety
                @dog.dogable.get_breed.name
              end %>
    </tr>
    <tr <% if not @is_a_variety and not @is_a_subvariety %> style='display:none;' <% end %> >
      <td>Variety:</td>
      <td><%= if @is_a_variety or @is_a_subvariety
                @dog.dogable.get_variety.name
              end %>
      </td>
    </tr>
    <tr <% if not @is_a_subvariety %> style='display:none;' <% end %> >
      <td>Subvariety:</td>
      <td><%= if @is_a_subvariety
                @dog.dogable.get_subvariety.name
              end %>
      </td>
    </tr>
  </table>
    </div>