<div id="breeds" >
  <h1>breeds#show. Find me in app/views/breeds/show.html.erb</h1>

  <h2><%= @breed.name %></h2>

  <ul>
    <li><%= link_to 'Edit Breed', send('edit_' + "#{@breed.breedable_type.downcase}" + '_breed_path',@breedable, @breed)%></li>
    <li><%= link_to "Delete Breed", [@breedable, @breed], method: :delete,
                    data: {confirm: 'Are you sure you want to delete this Breed?'} %></li>
  </ul>

  <table id="varieties">
    <li><%= link_to 'New Variety', new_breed_variety_path(@breed, @variety) %></li>
    <tr>
      <th>Varieties</th>
    </tr>
    <% @breed.varieties.each do |variety| %>
        <tr>
          <td>id: <%=variety.id%></td>
          <td>breed_id: <%=variety.breed_id%></td>
          <td><%= link_to variety.name, [@breed, variety] %></td>
        </tr>
    <% end %>
  </table>

</div>