<div id="subsections" >
  <h2><%= @subsection.name %></h2>
  <%= simple_format( @subsection.description ) %>

  <ul>
    <li><%= link_to 'Edit Subsection', edit_group_section_subsection_path(@group, @section, @subsection) %></li>
    <li><%= link_to "Delete Subsection", [@group, @section, @subsection], method: :delete,
                    data: {confirm: 'Are you sure you want to delete this Section?'} %></li>
    <!--<li><= link_to 'New Subsection', new_group_section_subsection_path(@group,@section) %></li>-->
    <li><%= link_to 'Standards and nomenclature page', groups_path %></li>
  </ul>
</div>