<div id="home_header" class="col-md-12">
  <h1 id="doggytitle">DoggyHouse</h1>
  <h4 class="titles small"> Exhibitions <hr></h4>
</div>

<% admins_only do%>
    <div class="admin_actions right">
      <ul class="breadcrumb">
        <li><%= link_to 'New Exhibition', new_exhibition_path %></li>
      </ul>
    </div>
<% end %>

<div id="exhibitions" class="row">
  <table id="exhibitions" class="table table-striped table-hover table-condensed">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <% if current_user %>
          <% users_only do %>
              <th></th>
            <% end %>
            <% admins_only do %>
              <% if @person %>
                  <th></th>
              <% end %>
          <% end %>
      <% end %>

    </tr>
    <% @exhibitions.where('start_date >= ?', Date.today).order('start_date ASC').each do |exhibition| %>
        <tr>
          <td>
            <%= if exhibition.try(:image_url)
                  link_to image_tag(exhibition.image_url.to_s, class: 'imgExhibIndex img-thumbnail'), exhibition_path(exhibition)
                else
                  link_to image_tag('no-image.jpeg', class: 'imgExhibIndex img-thumbnail'), exhibition_path(exhibition)
                end%>
          </td>
          <td>
            <p><%= link_to exhibition.name, exhibition_path(exhibition) %><br></p>
            <b>Description:</b> <%= truncate(exhibition.description, length: 200, :separator => ' ') { link_to 'Continue', exhibition_path(exhibition) } %>
          </td>
          <td class="center"><%= exhibition.start_date.strftime('%b %e, %Y') %></td>
          <td class="center"><%= exhibition.end_date.strftime('%b %e, %Y') %></td>
          <% if user_signed_in? %>
              <% admins_only do %>
                  <% if @person %>
                      <td><%= link_to 'View enrolments', person_exhibition_enrolments_path(@person, exhibition.id)%></td>
                  <% end %>
              <% end
                 users_only do %>
                  <td><%= link_to 'My enrolments', exhibition_enrolments_path(exhibition.id)%></td>
              <% end %>
          <% end %>
        </tr>
    <% end %>

    <th class="important" colspan="5">
      <p>FINISHED EXHIBITIONS</p>
    </th>
    <% @exhibitions.where('start_date < ?', Date.today).order('start_date ASC').each do |exhibition| %>
      <tr>
        <td>
          <%= if exhibition.try(:image_url)
                link_to image_tag(exhibition.image_url.to_s, class: 'imgExhibIndex img-thumbnail'), exhibition_path(exhibition)
              else
                link_to image_tag('no-image.jpeg', class: 'imgExhibIndex img-thumbnail'), exhibition_path(exhibition)
              end%>
        </td>
        <td>
          <p><%= link_to exhibition.name, exhibition_path(exhibition) %><br></p>
          <b>Description:</b> <%= truncate(exhibition.description, length: 200, :separator => ' ') { link_to 'Continue', exhibition_path(exhibition) } %>
        </td>
        <td class="center"><%= exhibition.start_date.strftime('%b %e, %Y') %></td>
        <td class="center"><%= exhibition.end_date.strftime('%b %e, %Y') %></td>
        <% if user_signed_in? %>
            <% admins_only do %>
                <% if @person %>
                    <td><%= link_to 'View enrolments', person_exhibition_enrolments_path(@person, exhibition.id)%></td>
                <% end %>
            <% end
               users_only do %>
                <td><%= link_to 'My enrolments', exhibition_enrolments_path(exhibition.id)%></td>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>