<h1>Exhibitions page</h1>
<ul>
  <li><%= link_to 'New Exhibition', new_exhibition_path %></li>
</ul>

<table id="exhibitions">
  <tr>
    <th>Exhibitions</th>
    <th>Start date</th>
    <th>End date</th>
  </tr>
  <% @exhibitions.each do |exhibition| %>
      <tr>
        <td><%= link_to exhibition.name, exhibition_path(exhibition) %></td>
        <td><%= exhibition.start_date.strftime('%b %e, %Y - %H:%M') %></td>
        <td><%= exhibition.end_date.strftime('%b %e, %Y - %H:%M') %></td>
        <% if user_signed_in? %>
            <% admins_only do %>
                <%  if @person %>
                    <td><%= link_to 'View enrolments', person_exhibition_enrolments_path(@person, exhibition.id)%></td>
                <% end %>
            <% end
               users_only do %>
                <td><%= link_to 'My enrolments', exhibition_enrolments_path(exhibition.id)%></td>
            <% end %>
        <% end %>


      </tr>
  <% end %>
</table>