<div id="exhibitions" >
  <% admins_only do %>
      <ul>
        <li><%= link_to 'Edit Exhibition', edit_exhibition_path(@exhibition) %></li>
        <li><%= link_to 'Delete Exhibition', @exhibition, method: :delete, data: {confirm: 'Are you sure you want to delete this Exhibition'} %></li>
      </ul>
  <% end %>

  <p><%= button_to 'Enroll a new dog', new_exhibition_enrolment_path(@exhibition, @enrolment), method: 'get'%></p>

  <% users_only do %>
      <p><td><%= link_to "My enrolments for #{@exhibition.name}", exhibition_enrolments_path(@exhibition.id) if user_signed_in?%></td></p>
  <% end %>

  <h2><%= @exhibition.name %></h2>
  <% description = 'Description:<br> ' + @exhibition.description %>
  <% start = 'Start date: ' + @exhibition.start_date.strftime('%b %e, %Y - %H:%M') %>
  <% end_date = 'End date: ' + @exhibition.end_date.strftime('%b %e, %Y - %H:%M') %>

  <p><%= simple_format( description ) %></p>
  <p><%= simple_format( start ) %></p>
  <p><%= simple_format( end_date ) %></p>


  <% if @exhibition.tax %>
      <table id="prices" border="1">
        <caption><b>Payments</b></caption>
        <tr>
          <td align=center>
            <table id="deadlines">
              <th>Deadlines</th>
              <th>Start Date</th>
              <th>End Date</th>
              <% JSON.parse(@exhibition.tax)['deadlines'].each do |deadlines| %>
                  <tr>
                    <td><%= deadlines['name'] %></td>
                    <td><%= deadlines['start_date'] %></td>
                    <td><%= deadlines['end_date'] %></td>
                  </tr>
              <% end %>
            </table>
          </td>
          <td align=center>
            <table id="groups">
              <th>Groups</th>
              <th>Classes</th>
              <% JSON.parse(@exhibition.tax)['groups'].each do |group| %>
                  <tr>
                    <td><%= group['name'].capitalize %></td>
                    <td><%= group['classes'].to_sentence.humanize %></td>
                  </tr>
              <% end %>
            </table>
          </td>
        </tr>

        <tr>
            <% JSON.parse(@exhibition.tax)['prices'].each do |tax_prices| %>
              <td align=center>

                <table id="prices2" border="1">
                    <% tax_prices.each do |people,prices_grouped| %>
                        <th colspan="6"><%= people.humanize %></th>
                      <% prices_grouped.each do |group| %>
                          <% group.each do |group_name, prices_array| %>
                              <% prices_array.each_with_index { |prices, index| %>
                                  <% if index == 0 %>
                                      <tr>
                                        <td><%= group_name.capitalize %></td>
                                        <%if prices.count > 1
                                             prices.count.times do |i| %>
                                             <td><%= (i+1).ordinalize %> Dog</td>
                                         <% end
                                            end %>
                                      </tr>
                                  <% end %>
                                  <tr>
                                    <td><%= JSON.parse(@exhibition.tax)['deadlines'][index]['name']%></td>
                                    <% prices.each do |price| %>
                                        <td>
                                          <%= price %>
                                        </td>
                                    <% end %>
                                  </tr>
                              <% } %>
                          <% end %>

                      <% end %>
                    <%end%>
                  </table>
              </td>
            <% end %>
        </tr>

      </table>
  <% else %>
      <p> No payment list available at the moment. </p>
  <% end %>
</div>
