<%= form_for [@breed, @variety] do |f|%>
    <% @variety.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger" role="alert">
          <p><%= msg %></p>
        </div>
    <% end %>

    <div class="col-md-offset-1 form-group col-md-8">
      <label><%= f.label :name %></label>
      <%= f.text_field :name, {class:'form-control'} %>
    </div>

    <div class="col-md-offset-1 form-group col-md-8">
      <%= f.submit %>
    </div>
<% end %>