<div id="varieties" >
  <h1>Varieties#show. Find me in app/views/varieties/show.html.erb</h1>

  <h2><%= @variety.name %></h2>

  <ul>
    <li><%= link_to 'Edit Variety', edit_breed_variety_path(@breed, @variety) %></li>
    <li><%= link_to "Delete Variety", [@breed, @variety], method: :delete,
                    data: {confirm: 'Are you sure you want to delete this Variety?'} %></li>
  </ul>

  <table id="subvarities">
    <ul>
      <li><%= link_to 'New Subvariety', new_variety_subvariety_path(@variety, @subvariety) %></li>
    </ul>

    <tr>
      <th>Subvarities</th>
    </tr>
    <% @variety.subvarieties.each do |subvariety| %>
        <tr>
          <td><%= link_to subvariety.name, [@variety, subvariety] %></td>
        </tr>
    <% end %>
  </table>
</div>