<div id="sections" >

  <h2><%= @section.name %></h2>
  <%= simple_format( @section.description ) %>

  <ul>
    <% admins_only do %>
        <li><%= link_to 'Edit Section', edit_group_section_path(@group, @section) %></li>
        <li><%= link_to "Delete Section", [@group, @section], method: :delete,
                        data: {confirm: 'Are you sure you want to delete this Section?'} %></li>
        <li><%= link_to 'New Subsection', new_section_subsection_path(@section) %></li>
        <li><%= link_to 'New Breed', new_section_breed_path(@section) %></li>
    <% end %>
    <li><%= link_to 'Standards and nomenclature page', groups_path %></li>
  </ul>

  <table id="subsections">
    <tr>
      <th>Subsection number</th>
      <th>Description</th>
    </tr>
    <% @section.subsections.each do |subsection| %>
      <tr>
        <td><%= subsection.name %></td>
        <td><%= link_to subsection.description, [@section, subsection] %></td>
      </tr>
    <% end %>
  </table>

  <table id="breeds">
    <tr>
      <th>Breeds</th>
    </tr>
    <% @section.breeds.each do |breed| %>
      <tr>
        <td><%= link_to breed.name, [@section, breed] %></td>
      </tr>
    <% end %>
  </table>

</div>